h3 {
   text-align: center;
   text-decoration: underline;
}

.ol-style {
   color: black;
   text-align: center;
   list-style-type: upper-roman;
}

.p-style {
   color: purple;
   text-align: center;
}

.skills {
   color: green;
}